@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

/* global css */
* {
  margin: 0;
  padding: 0;
  font-family: poppins;
}

/* header */
header {
  background-color: #4eadff;
}

nav {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav .logo {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

nav ul {
  width: 450px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav button {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  padding: 10px 25px;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
}

.sectionContent {
  color: white;
}

.primaryButton {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  padding: 10px 25px;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 15px;
}

.primaryButtonWhite {
  background-color: white;
  color: black;
  padding: 10px 25px;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}

.sectionContent h1 {
  margin-bottom: 25px;
  width: 300px;
}

.sectionContent p {
  margin-bottom: 25px;
}

.sectionContent,
.sectionImage {
  margin: 150px 0;
}

/*  section 2 */
.howitworks {
  padding: 100px 0;
}

.howitworks p {
  text-align: center;
}

.howitworks h2 {
  text-align: center;
}

.howitworks .sectionSubtitle {
  color: rgb(113, 113, 113);
  padding: 25px 300px;
  margin-bottom: 50px;
}

.iconBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconBox h3 {
  color: #313131;
  margin-top: 15px;
  margin-bottom: 10px;
}

.iconBox p {
  padding: 0 50px;
}

.iconBox .icon {
  background-color: #f9f9ff;
  width: 75px;
  height: 75px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #f5f5f5;
  color: #525252;
}

/* Section 3 */
.thirdSection {
  background-color: #edf6ff;
  height: 350px;
  padding: 75px 0;
}

.buttonsContainer {
  width: 100%;
  height: 10px;
  margin-bottom: 75px;
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttonsContainer button {
  cursor: pointer;
  width: 20%;
  background-color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 25px;
}

.blue {
  background-color: #1e87e3 !important;
  color: #f5f5f5;

}

.home-left-1 {
  width: 75%;
}

.h2Thirdsection {
  margin-bottom: 25px;
  width: 325px;
}

.getStartedBtn {
  background-color: #1e87e3;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 25px;
  margin-top: 25px;
}

/* section 4 */
.forthSection {
  text-align: center;
  padding: 50px 0;
  background-color: white;
}

.forthSection h2 {
  margin-bottom: 20px;
}

.forthSection p {
  padding: 0 200px;
}

.forthSection img {
  width: 650px;
  margin-top: 25px;
}

/* section 5 */
.fivesection {
  padding: 100px;
  background-color: #edf6ff
}

/* section 6 */
.sixSection {
  text-align: center;
  padding: 75px;
}

.sixSection h2 {
  margin-bottom: 15px;
}

.sixSection p {
  padding: 0 200px;
  color: #525252;
}

.sixSectionCol {
  width: 475px;
  margin-top: 50px;
  padding: 20px 50px 100px 100px;
  background-color: #edf6ff;
  text-align: left;
}

/* section 7 */

.sevenSection {
  color: white;
  text-align: center;
  padding: 75px;
  background-color: #2382d5;
}

.sevenSection p {
  padding: 20px 150px;
}

.sevenSection button {
  padding: 15px 25px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
}

/* section 8 */

.eightSection {
  background-color: #090a1c;
  color: white;
  text-align: center;
  padding: 100px 100px 100px 200px;
}

.eightSection h4 {
  margin-bottom: 30px;
  text-align: left;

}

.eightSection p {
  text-align: left;
}
.aboutP {
  margin-bottom: 30px;
}

.eightSection input {
  padding: 10px 100px;
  margin-top: 20px;
}

.icone {
  text-align: left;
  margin-top: 10px;
}


@media only screen and (max-width: 768px) {
  .howitworks .sectionSubtitle {
    color: rgb(113, 113, 113);
    padding: 25px;
    margin-bottom: 50px;
  }

  .iconBox {
    margin-bottom: 25px;
  }

  
}